
.inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    

    .button1{
    background-color: #CBAACB;
    height: 45px;
    width: 80px;
    border-color: #c299c2;
    border-radius: 10px;
    }

    .button2{
    background-color: #ABDEE6;
    height: 45px;
    width: 80px;
    border-color: #a0d1d8;
    border-radius: 10px;
        
    }

   .button3{
    background-color: #FFFFB5;
    height: 45px;
    width: 80px;
    border-color: #eeeea9;
    border-radius: 10px;
   }

   .button4{
    background-color: #b5ffb9;
    height: 45px;
    width: 80px;
    border-color: #9bdd9e;
    border-radius: 10px;
   }

   .button5{
    background-color: #fdc19f;
    height: 45px;
    width: 80px;
    border-color: #dba382;
    border-radius: 10px;
   }

   .button6{
    background-color: #b09ffc;
    height: 45px;
    width: 80px;
    border-color: #9485d3;
    border-radius: 10px;
   }

   .button7{
    background-color: #fda7ba;
    height: 45px;
    width: 80px;
    border-color: #cc788a;
    border-radius: 10px;
   }

   .button8{
    background-color: #9df753;
    height: 45px;
    width: 80px;
    border-color: #73bb38;
    border-radius: 10px;
   }

   .button9{
    background-color: #f07ffa;
    height: 45px;
    width: 80px;
    border-color: #dd78cc;
    border-radius: 10px;
   }

   .button10{
    background-color: #658cdf;
    height: 45px;
    width: 80px;
    border-color: #516fb1;
    border-radius: 10px;
   }

   .button11{
    background-color: #dbaf6d;
    height: 45px;
    width: 80px;
    border-color: #b69159;
    border-radius: 10px;
   }
}